Для запуска и общения с ботом необходимо созать файл .evn
В данный файл нужно поместить токен, полученный у BotFather и headers , полученный при регистрации на сайте www.rapidapi.com

ПРИМЕР СОДЕРЖАНИЯ ФАЙЛА .evn

TOKEN = '2027993860:AAF1aR__QWv2BA8xlPecm0jyjXogMxmD-ek'
KEY =  "92e16a9acdmsh4f33dd05d5bc5e5p1ba51djsnbafdf8123ab2"